<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525001698749-hh90spf3j463ncqcus1aci6qg414ek7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525001698749-hh90spf3j463ncqcus1aci6qg414ek7i</string>
	<key>API_KEY</key>
	<string>AIzaSyCpndWwX9sLL5uvIt-rcvHwfizeWrAoa6E</string>
	<key>GCM_SENDER_ID</key>
	<string>525001698749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elasticbeanstalk.sample-env.pnzmp48knt.us-west-2.easyPay</string>
	<key>PROJECT_ID</key>
	<string>easypay-f6242</string>
	<key>STORAGE_BUCKET</key>
	<string>easypay-f6242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525001698749:ios:298a11636a0e0270</string>
	<key>DATABASE_URL</key>
	<string>https://easypay-f6242.firebaseio.com</string>
</dict>
</plist>