<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>161854663349-gd9mqk9f2t6io51mohvkmdera46q00t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161854663349-gd9mqk9f2t6io51mohvkmdera46q00t4</string>
	<key>API_KEY</key>
	<string>AIzaSyBJU7SdZ848ztbKSsrjA-1zUvEiCH5aH-w</string>
	<key>GCM_SENDER_ID</key>
	<string>161854663349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elasticbeanstalk.sample-env.pnzmp48knt.us-west-2.easyPay</string>
	<key>PROJECT_ID</key>
	<string>easypay-31164</string>
	<key>STORAGE_BUCKET</key>
	<string>easypay-31164.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161854663349:ios:298a11636a0e0270</string>
	<key>DATABASE_URL</key>
	<string>https://easypay-31164.firebaseio.com</string>
</dict>
</plist>